*.deps
*.dirstamp
*.o
*~
/aclocal.m4
/autom4te.cache
/build-aux
/config.log
/config.status
/configure
/include/configauto.h
/include/configauto.h.in
/include/configmake.h
/include/stamp-h1
/Makefile
/Makefile.in
/src/gastoold
TAGS

# Local variables:
# sort-fold-case t
# End:
